/* Stylesheet */
.page {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto auto auto;
    grid-template-areas:
        'nav nav nav nav nav nav'
        'aside aside main main main main'
        'homeImg homeImg homeImg homeImg homeImg homeImg';
}

#aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    grid-area: aside;
}

aside p {
    font-family: "Varela Round";
    font-size: 18px;
    color: #8d5b5b;
    margin: 0;
    line-height: 150%;
    font-weight: bold;
}

#open {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    grid-area: main;
}

.box {
    width: 100%;
    max-width: 600px; /* Adjust as needed */
}

#figure {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    grid-area: homeImg;
}

.homeImg {
    flex: 1;
    margin: 10px;
}

.homeImg1 {
    width: 100%;
    height: auto;
    max-width: 100%;
    border: 3px solid white;
}
